services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: release
    container_name: denvyew-app
    restart: always
    ports:
      - "50013:3000" # Maps host port 50013 to container port 3000
    environment:
      - NODE_ENV=production
      - PORT=3000
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"